/* App.css */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh; /* Ensure the body takes up the full viewport height */
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; /* Allow main to grow and fill the remaining space */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px; /* Adjust this value based on the height of your navbar */
  text-align: center; /* Center the text */
}


